<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="mybatis" sequenceNumber="15">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="karaf-framework-aries.feature.group" version="1.4.0"/>
<unit id="karaf-framework-aries.source.feature.group" version="1.4.0"/>
<repository location="http://p2.martenscs.net/karaf/standard/2.3.4"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.apache.derby" version="10.8.2.2_v201211210650"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20140114142710/repository"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.equinox.osgi.runtime.feature.group" version="0.0.1.201412192251"/>
<repository location="http://p2.martenscs.net/equinox-runtime"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="framework.source.feature.group" version="3.0.1"/>
<unit id="framework.feature.group" version="3.0.1"/>
<unit id="commons.feature.group" version="2.3.4"/>
<unit id="transaction.feature.group" version="1.0.1"/>
<unit id="jndi.feature.group" version="1.0.0"/>
<unit id="jndi.source.feature.group" version="1.0.0"/>
<unit id="transaction.source.feature.group" version="1.0.1"/>
<unit id="commons.source.feature.group" version="2.3.4"/>
<repository location="http://p2.martenscs.net/aries"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="sampledb.feature.group" version="1.0.0.201412022043"/>
<repository location="http://p2.martenscs.net/sampledb"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="datsources.source.feature.group" version="1.0.0"/>
<unit id="datsources.feature.group" version="1.0.0"/>
<repository location="http://p2.martenscs.net/karaf/enterprise/3.0.1"/>
</location>
</locations>
<includeBundles>
<plugin id="ch.qos.logback.classic"/>
<plugin id="ch.qos.logback.classic.source"/>
<plugin id="ch.qos.logback.core"/>
<plugin id="ch.qos.logback.core.source"/>
<plugin id="ch.qos.logback.slf4j"/>
<plugin id="ch.qos.logback.slf4j.source"/>
<plugin id="com.google.gson"/>
<plugin id="com.google.guava"/>
<plugin id="com.ibm.icu"/>
<plugin id="com.ibm.icu.source"/>
<plugin id="commons-logging-api"/>
<plugin id="javax.activation"/>
<plugin id="javax.annotation"/>
<plugin id="javax.el"/>
<plugin id="javax.inject"/>
<plugin id="javax.inject.source"/>
<plugin id="javax.mail"/>
<plugin id="javax.security.auth.message"/>
<plugin id="javax.security.auth.message.source"/>
<plugin id="javax.servlet"/>
<plugin id="javax.servlet.jsp"/>
<plugin id="javax.servlet.jsp.source"/>
<plugin id="javax.servlet.source"/>
<plugin id="javax.transaction"/>
<plugin id="javax.transaction.source"/>
<plugin id="javax.validation"/>
<plugin id="javax.validation.source"/>
<plugin id="org.apache.aries.blueprint.api" version="1.0.0"/>
<plugin id="org.apache.aries.blueprint.api" version="1.0.0"/>
<plugin id="org.apache.aries.blueprint.api.source" version="1.0.0"/>
<plugin id="org.apache.aries.blueprint.api.source" version="1.0.0"/>
<plugin id="org.apache.aries.blueprint.cm" version="1.0.3"/>
<plugin id="org.apache.aries.blueprint.cm" version="1.0.3"/>
<plugin id="org.apache.aries.blueprint.cm.source" version="1.0.3"/>
<plugin id="org.apache.aries.blueprint.cm.source" version="1.0.3"/>
<plugin id="org.apache.aries.blueprint.core" version="1.4.0"/>
<plugin id="org.apache.aries.blueprint.core" version="1.4.0"/>
<plugin id="org.apache.aries.blueprint.core.compatibility"/>
<plugin id="org.apache.aries.blueprint.core.compatibility.source"/>
<plugin id="org.apache.aries.blueprint.core.source" version="1.4.0"/>
<plugin id="org.apache.aries.blueprint.core.source" version="1.4.0"/>
<plugin id="org.apache.aries.jndi.api"/>
<plugin id="org.apache.aries.jndi.api.source"/>
<plugin id="org.apache.aries.jndi.core"/>
<plugin id="org.apache.aries.jndi.core.source"/>
<plugin id="org.apache.aries.jndi.legacy.support"/>
<plugin id="org.apache.aries.jndi.legacy.support.source"/>
<plugin id="org.apache.aries.jndi.rmi"/>
<plugin id="org.apache.aries.jndi.rmi.source"/>
<plugin id="org.apache.aries.jndi.url"/>
<plugin id="org.apache.aries.jndi.url.source"/>
<plugin id="org.apache.aries.proxy.api" version="1.0.0"/>
<plugin id="org.apache.aries.proxy.api" version="1.0.0"/>
<plugin id="org.apache.aries.proxy.api.source" version="1.0.0"/>
<plugin id="org.apache.aries.proxy.api.source" version="1.0.0"/>
<plugin id="org.apache.aries.proxy.impl" version="1.0.2"/>
<plugin id="org.apache.aries.proxy.impl" version="1.0.2"/>
<plugin id="org.apache.aries.proxy.impl.source" version="1.0.2"/>
<plugin id="org.apache.aries.proxy.impl.source" version="1.0.2"/>
<plugin id="org.apache.aries.quiesce.api"/>
<plugin id="org.apache.aries.quiesce.api.source"/>
<plugin id="org.apache.aries.transaction.blueprint"/>
<plugin id="org.apache.aries.transaction.blueprint.source"/>
<plugin id="org.apache.aries.transaction.manager"/>
<plugin id="org.apache.aries.transaction.manager.source"/>
<plugin id="org.apache.aries.util" version="1.1.0"/>
<plugin id="org.apache.aries.util" version="1.1.0"/>
<plugin id="org.apache.aries.util.source" version="1.1.0"/>
<plugin id="org.apache.aries.util.source" version="1.1.0"/>
<plugin id="org.apache.commons.beanutils"/>
<plugin id="org.apache.commons.beanutils.source"/>
<plugin id="org.apache.commons.cli"/>
<plugin id="org.apache.commons.cli.source"/>
<plugin id="org.apache.commons.codec"/>
<plugin id="org.apache.commons.codec.source"/>
<plugin id="org.apache.commons.collections"/>
<plugin id="org.apache.commons.collections.source"/>
<plugin id="org.apache.commons.dbcp"/>
<plugin id="org.apache.commons.dbcp.source"/>
<plugin id="org.apache.commons.discovery"/>
<plugin id="org.apache.commons.discovery.source"/>
<plugin id="org.apache.commons.fileupload"/>
<plugin id="org.apache.commons.fileupload.source"/>
<plugin id="org.apache.commons.io"/>
<plugin id="org.apache.commons.io.source"/>
<plugin id="org.apache.commons.lang"/>
<plugin id="org.apache.commons.lang.source"/>
<plugin id="org.apache.commons.lang3"/>
<plugin id="org.apache.commons.lang3.source"/>
<plugin id="org.apache.commons.pool"/>
<plugin id="org.apache.commons.pool.source"/>
<plugin id="org.apache.derby"/>
<plugin id="org.apache.derby.source"/>
<plugin id="org.apache.felix.gogo.command"/>
<plugin id="org.apache.felix.gogo.command.source"/>
<plugin id="org.apache.felix.gogo.runtime"/>
<plugin id="org.apache.felix.gogo.runtime.source"/>
<plugin id="org.apache.felix.gogo.shell"/>
<plugin id="org.apache.geronimo.specs.geronimo-jta_1.1_spec"/>
<plugin id="org.apache.geronimo.specs.geronimo-jta_1.1_spec.source"/>
<plugin id="org.eclipse.core.commands"/>
<plugin id="org.eclipse.core.contenttype"/>
<plugin id="org.eclipse.core.expressions"/>
<plugin id="org.eclipse.core.filesystem"/>
<plugin id="org.eclipse.core.filesystem.win32.x86_64"/>
<plugin id="org.eclipse.core.jobs"/>
<plugin id="org.eclipse.core.resources"/>
<plugin id="org.eclipse.core.runtime"/>
<plugin id="org.eclipse.core.runtime.compatibility.auth"/>
<plugin id="org.eclipse.core.runtime.compatibility.registry"/>
<plugin id="org.eclipse.core.variables"/>
<plugin id="org.eclipse.data.sampledb"/>
<plugin id="org.eclipse.equinox.app"/>
<plugin id="org.eclipse.equinox.cm"/>
<plugin id="org.eclipse.equinox.common"/>
<plugin id="org.eclipse.equinox.console"/>
<plugin id="org.eclipse.equinox.ds"/>
<plugin id="org.eclipse.equinox.preferences"/>
<plugin id="org.eclipse.equinox.registry"/>
<plugin id="org.eclipse.equinox.util"/>
<plugin id="org.eclipse.osgi"/>
<plugin id="org.eclipse.osgi.services"/>
<plugin id="org.hamcrest.core"/>
<plugin id="org.hamcrest.core.source"/>
<plugin id="org.json"/>
<plugin id="org.junit"/>
<plugin id="org.junit4"/>
<plugin id="org.mybatis.mybatis"/>
<plugin id="org.mybatis.mybatis.source"/>
<plugin id="org.objectweb.asm"/>
<plugin id="org.objectweb.asm.all"/>
<plugin id="org.objectweb.asm.all.source"/>
<plugin id="org.objectweb.asm.source"/>
<plugin id="org.slf4j.api"/>
<plugin id="org.slf4j.api.source"/>
<plugin id="org.slf4j.jcl"/>
<plugin id="org.slf4j.jul"/>
<plugin id="org.slf4j.jul.source"/>
<plugin id="org.slf4j.log4j"/>
</includeBundles>
</target>
